.comp-barra{
    display: flex;

    width: 100%;
    height: 65px;

    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;

    h1{
        font-size: 14px;
        font-family: "fonte1";

        color: #A79F9F;
        padding: 25px;
    }
}