.pagina-home{
    display: flex;

    height: 1366px;
    width: 100%;

    flex-direction: row;

     .principarte{
        display: flex;
        flex-direction: column;

        width: 100%;

        background-color: rgb(224, 224, 224);
    }

    .s1{
        padding: 40px;

        height: auto;
        width: auto;

        p{
            color: #FF7101;
            font-family: "fonte1";
        }
    }

    .s2{
        display: flex;

        height: 514px;
        width: 950px;

        background-color: white;

        align-self: center;
        flex-direction: column;

        h1{
            padding: 40px;
            font-family: "fonte1";
        }

        input{
            width: 50px;
        }
    }
}