.comp-cabecalho{
    display: flex;

    height: 1366px;
    width: 30vh;

    background-color: black;

    flex-direction: column;
    align-items: center;
    

    nav{
      display: flex;
      
      flex-direction: column;

        img{
            width: 79.55px;
            height: 86.79px;

            margin-top: 20px;
        }

        h1{
            display: flex;
            color: white;
            
            font-size: 18px;
        }

        strong{
            color: #FF7101;
        }
    }

    .paginas{
        display: flex;

        height: 35vh;
        width: 100%;

        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10vh;

        .pag-coluna{
            display: flex;

            height: 6vh;
            width: 100%;

            color: white;
            font-size: 12px;

            padding-left: 30px;
            align-items: center;

            transition: .3s;

            h1{
                padding-left: 15px;
                transition: .3s;
            }

            .icone{
                width: 16.72px;
            }

            .veiculos{
                width: 16.5px;
            }

            .locacao{
                width: 21px;
                height: 13px;
            }
        }

        
        .pag-coluna:hover{
            background-color: purple;
        }
    }
}